{% extends 'base.html.twig' %}

{% block title %}Hello ExamController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Parametry badania</h1>
        <div>Nazwa badania: {{ exam.name }}</div>
        <div>Data: {{ exam.createDt|date('d.m.Y H:i') }}</div>
        <div>Opis: {{ exam.description| default('-') }}</div>

        {{ form_start(form) }}
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width: 40%">Nazwa</th>
                <th style="width: 40%">Wartość</th>
                <th style="width: 20%">
                    <button type="button" id="add-button" class="btn btn-success">Dodaj</button>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr id="add-element">
                <td>
                    {{ form_widget(form.name) }}
                    {{ form_help(form.name) }}
                    {{ form_errors(form.name) }}
                </td>
                <td>
                    {{ form_widget(form.value, {'type':'number'}) }}
                    {{ form_help(form.value) }}
                    {{ form_errors(form.value) }}
                </td>
                <td>
                    <button type="submit" id="save-button" class="btn btn-success">Zapisz</button>
                    <button type="button" id="remove-button" class="btn btn-danger">Usuń</button>
                    {{ form_widget(form.exam) }}
                </td>
            </tr>
            {% for param in exam.params %}
                <tr>
                    <td>{{ param.name }}</td>
                    <td>{{ param.value }}</td>
                    <td>
                        <input type="hidden" class="elem-id" value="{{ param.id }}">
                        <button type="button" class="btn btn-danger delete-button">Usuń</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ form_end(form) }}
    </div>
{% endblock %}
